<h1>
  {{title}}
</h1>


<ul>
  <li>
    <a routerLink='/Backlog'>back Log</a>
  </li>
  <li>
    <a routerLink='/Sprint'>sprint </a>
  </li>
  <li>
    <a routerLink='/Sprint/2'>sprint 2 </a>
  </li>
  <li>
    <a routerLink='/Sprint/26'>sprint 26 </a>
  </li>
  <li>
    <a routerLink='/Sprint/112'>sprint 112 </a>
  </li>
  <li>
    <a routerLink='/Ticket'>Ticket</a>
  </li>
  <li>
    <a routerLink='/Ticket/55'>Ticket 55 </a>
  </li>
  <li>
    <a routerLink='/User'>User</a>
  </li>
  <li>
    <a routerLink='/User/35'>User 35 </a>
  </li>
</ul>

<router-outlet></router-outlet>

<div id="footer" > {{ footerText }}</div>